.listButton{
    display: inline-block;
}


.upload{
    background: rgb(255, 221, 157);
}
.mkdir{
    background-color: aquamarine;
}
.rmdir, .fremove{
    background-color: rgb(251, 169, 169);
}
.url{
    background-color: aquamarine !important;
}

.button {
    background-color: transparent;
    border: none;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 5px;
  }