.node{
  display: initial;
}

.node_caption{
  display: initial;
}

.node_body{
  display: initial;
}
        
.blueprint{
  display: initial;
}

.blueprint_caption{
  display: initial;
}

.blueprint_body{
  display: initial;
}

.testing_menu{
  display: initial;
}