
.noCLI{
    background-color: red;
    padding: 5px;
  }
  
  .optionCLI{
    background-color: orange;
    padding: 5px;
    margin: 10px;
  }
  
  .currentCLI{
    background-color: green;
    padding: 5px;
  }
  
  .inputCLI{
    padding: 5px;
    width: 100%;
  }